section{
    font-family: "Poppins";
    font-size:  40px;
    
    color: white;
    overflow-x: hidden;
    min-height: 100vh;
    padding: 5rem 9% 2rem;
}



.home{

    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content{
    padding-right: 5%;
}